body {
	font-size: small;
	line-height: 1.5em;
	font-family: "Georgia", serif;
    background: #d2dc9d url(images/blackgoose.png) no-repeat center 100px fixed;
    
    /*background-image: url(images/bullseye.png);
    background-position: center 200px;*/
    }
header {
  padding: 3em 1em 2em 1em;
  margin: 0 auto;
  text-align: center;
  /*before shorthand
background-color: rgba(255, 255, 255, .5);
  background-position: center top;
  background-image: url(images/purpledot.png);
  background-repeat: repeat-x;
  background-attachment: fixed;*/

/*fallback bg*/
  background:  url(images/purpledot.png) repeat-x center top fixed;

/*supported bg*/
  background: 
      url(images/purpledot.png) left top repeat-y,
      url(images/purpledot.png) right top repeat-y,
      url(images/gooseshadow.png) 90% bottom no-repeat;
/*note: mult bg img- must put color last!*/
    background-color: rgba(255, 255, 255, .5);
  }
h1 {
	font: bold 1.5em "Marko One", Georgia, serif;
	color: #939;
	text-shadow: .05em .05em .1em lightslategray;
}
nav ul {
  list-style-type: none;;
}
h2 {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .5em;
	color: #c60;
}
h2 + p {
	text-align: center;
	font-style: italic;
}
dt {
	font-weight: bold;
	color: sienna;
}
dt strong {
	color: tomato;
}

#info p {
	font-style: italic;
	color: gray;
}
h1, h2, #info {
	text-align: center;
}
.price {
	font-weight: bold;
	font-family: Georgia, serif;
	font-style: italic;
	color: gray;
}

.label {
	font-weight: bold;
	font-variant: small-caps;
	font-style: normal;
}
p.warning, sup {
	font-size: small;
	color: red;
}
strong {
	font-style: italic;
	color: tomato;
}
a {
  text-decoration: none; 
  color: #939;
}
a:visited {
  color: #937393;    
}
a:hover {
  color: #c700f2;
  background-color: #fff;
}
a:active {
  color: #f0f;
  background-color: #fff;
      
}